/tmp/
fiber.exe
/.idea/
.DS_Store
/certs/
/cert/
zamba
/logs/
/vendor/
.history
/tmp/runner-build.exe
/tmp/runner-build.exe~
/tmp/runner-build-errors.log
/logs/panic.log
/conf/*.yaml
chat_api_v3
oauth2l*
/main.go